
@font-face {
  font-family: 'Oswald-Regular';
  src: url('Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('Oswald-Regular.woff') format('woff'), url('Oswald-Regular.ttf')  format('truetype'), url('Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
